<div>
  <label>Представьтесь, пожалуйста</label>
  <input [(ngModel)]="greeting" placeholder="Имя"/>
</div>

<div>
  <button (click)="onSayHi()">Скажи "Привет"</button>
</div>
<div>
  <h3>Навигационная панель</h3>
  <div>
    <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Страница 1</a>
    <a routerLink="/page2">Страница 2</a>
    <a routerLink="/page3">Страница 3</a>
    <a [routerLink]="['show-name', 'Базина Анастасия']">Покажи своё имя</a>
  </div>
</div>
<app-page1  (userData)="receiveUserData" ></app-page1>

<router-outlet></router-outlet>